.searchBtn {
  /* border-left: 1px solid black; */
  /* border-top-right-radius: 15px; */
  /* border-bottom-right-radius: 15px; */
  background-color: #06aed5;
  color: white;
}

.searchBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
